/*#region Common Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
}

/*#endregion Common Rules */

/* Debug */

/*   .debug [class^="col-"] {
    background-color: red;
    border: 1px solid;
  } */
  
  .debug header {
    height: 16px;
  } */

 /*  .debug .banner {
    background-color: blue;
  } */ */

  .debug .bottom_background {
    background-color: lightgrey;
  }

  .debug .footer_background {
    background-color: black;
  }

 /*  .debug .banner_content {
    background-color: rgb(229, 149, 229);
    border: 1px solid;
    height: 180px;
    width: 850px;
  } */

  .debug .row_bottom {
    background-color: aquamarine;
    border: 1px solid;
  }

  .debug .logo {
    background-color: pink;
    border: 1px solid;
  }

  .debug .button {
    background-color: pink;
    border: 1px solid;
  }

/*#region Header*/

  .header_background {
    background-color: #255EE9;
    height: 50px;
  }

  .col-10 > nav {
    margin-top: 20px;
  }

  .logo_discord {
    height: 30px;
    margin-top: 20px;
  }

/*#endregion Header*/

/*#region Main*/

.banner {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: top;
  height: 500px;
  display: flex;
  align-items: flex-end;
}

.banner_content {
    height: 180px;
    width: 850px;
    text-align: center;
  }

  .section_content {
    height: 550px;
    width: 1200px;
  }

  .lightgrey_background {
    background-color: #F6F6F6;
  }

  .end_section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .stars {
    background-image: url("../img/stars.svg");
  }

/*#endregion Main*/

/*#region Footer*/

.footer_background {
  background-color: #23272A;
}

.height_bottom {
  height: 750px;
}

.font_size_footer {
  font-size: 35px;
}

.flag {
  height: 20px;
}

.color_icons {
  color: white;
  gap: 20px;
  display: flex;
  margin-top: 15px;
}

.column_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*#endregion Footer*/

/*#region Utilities*/

.flex_center {
  display: flex;
  justify-content: center;
}

.space_evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.align_center {
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

.title_white {
  color: white;
  margin-bottom: 20px;
}

.title_black {
  color: black;
  margin-bottom: 20px;
}

.title_blue {
  color: #7085CF;
  margin-bottom: 20px;
}

.white_text {
  color: white;
}

.black_text {
  color: black;
}

.bt_white {
  border-radius: 25px;
  height: 15px;
  font-size: 10px;
  padding: 0 15px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-top: 16px;
  border: white;
}

.bt_black {
  border-radius: 25px;
  height: 15px;
  font-size: 10px;
  padding: 0 15px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-top: 16px;
  border: black;
  background-color: black;
}

.bt_blue {
  border-radius: 25px;
  height: 15px;
  font-size: 10px;
  padding: 0 15px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-top: 16px;
  border: white;
  background-color: #7289DA;
  ;
}

.font_montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font_size {
  font-size: 45px;
}

.padding_top {
  padding-bottom: 32px;
}

.padding_left {
  padding-left: 6px;
}

.padding_bottom {
  padding-bottom: 100px;
}

.item {
  width: 650px;
}

.container_padding {
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer_padding {
    padding-top: 6px;
    padding-bottom: 150px;
    border-bottom: 1px solid #7289DA;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row_header {
    height: 13px;
    margin-top: 8px;
}

.row_section {
    height: 450px;
}

.row_footer {
    height: 350px;
}

.row_bottom {
    display: flex;
    height: 100px;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.rectangle {
    height: 30px;
    width: 100px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.col-1 {
    width: calc( (100% / 12) *1);
}

.col-2 {
    width: calc( (100% / 12) *2);
}

.col-3 {
    width: calc( (100% / 12) *3);
}

.col-4 {
    width: calc( (100% / 12) *4);
}

.col-5 {
    width: calc( (100% / 12) *5);
}

.col-6 {
    width: calc( (100% / 12) *6);
}

.col-7 {
    width: calc( (100% / 12) *7);
}

.col-8 {
    width: calc( (100% / 12) *8);
}

.col-9 {
    width: calc( (100% / 12) *9);
}

.col-10 {
    width: calc( (100% / 12) *10);
}

.col-11 {
    width: calc( (100% / 12) *11);
}

.col-12 {
    width: calc( (100% / 12) *12);
}

/*#endregion Utilities*/